version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:22.15
    steps:
      - checkout

      - run:
          name: Install Dependencies
          command: npm ci

      - run:
          name: Run Tests
          command: npm test || echo "No tests found"

      - run:
          name: Run SonarCloud Analysis
          command: |
            npx sonar-scanner \
              -Dsonar.projectKey=backend \
              -Dsonar.organization=khangi09 \
              -Dsonar.sources=. \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN

workflows:
  version: 2
  build_and_scan:
    jobs:
      - build

